<!--The content below is only a placeholder and can be replaced.-->
<!-- Sidebar -->
<div class="is-preload">
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>


							<li>  <a routerLink="/year" routerLinkActive="active">Statistics</a></li>
							<li>  <a routerLink="/year2015" routerLinkActive="active">2015</a></li>
							<li>	<a routerLink="/year2011" routerLinkActive="active">2011</a></li>

              <li><a routerLink="/mapbox" routerLinkActive="active">Mapbox</a></li>

						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class=" style1 ">
						<div >
							<router-outlet></router-outlet>

						</div>
					</section>

</div>
